.round{
    margin: auto;
    border-radius: 25px;
    border: 2px solid #0a0d91;
    padding: 20px;
    width: 80%;
    align-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    text-align: center;
    box-shadow: 5px 10px #888888;
    margin: 20px;
}

.photo{
    width: 150px;
}